# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/Flutter.podspec

# Xcode
ios/Pods/
ios/DerivedData/
*.xcworkspace
*.xcuserdatad
*.xcuserdata

# Android
android/.gradle/
android/app/build/
android/local.properties

# VSCode
.vscode/

# macOS cruft
.DS_Store
